{% extends "base.html" %}

{% block contents %}


<form method="post">
  {% csrf_token %}

  <div class="col-xs-12">
    <table style="width: 100%;" class="table table-striped">
      <thead>
	<tr>
	  <th>Personnage</th>
	  <th>Modificateurs</th>
	  <th>Effets actifs</th>
	</tr>
      </thead>
      <tbody>
	{% with request.user.character_set.all as managed_characters %}
	{% for character in characters %}
	<tr{% if character in managed_characters %} class="info"{% endif %}>
	  <td>{{ character.name }}
	    {% if character in managed_characters %}
	    <button class="btn btn-primary btn-xs" type="submit" name="end-turn" value="{{ character.id }}">Terminer le tour</button>
	    {% endif %}
	  </td>

	  <td>
	    {% include "stat_line.html" with stats=character.formatted_stats only %}
	  </td>
	  <td>{% for buff in character.buffs %}
	    {% if not forloop.first %}; {% endif %}
	    {{ buff }}
	    {% endfor %}
	  </td>
	</tr>
	{% endfor %}
	{% endwith %}
      </tbody>
    </table>
  </div>

  <div class="col-xs-6">
    {% if buffs_formset %}
    {{ buffs_formset.management_form }}
    <table style="width: 100%;" class="table table-horizontal">
      <caption>Mes effets</caption>
      <thead>
	<tr>
	  {% for form in buffs_formset.forms %}
	  {% if forloop.first %}
	  {% for field in form %}
	  {% if not field.is_hidden %}
	  <th>{{ field.label }}</th>
	  {% endif %}
	  {% endfor %}
	</tr>
      </thead>
      <tbody>
	{% endif %}
	<tr>
	  <td>
	    {% for field in form %}
	    {% if field.is_hidden %} {{ field }} {% else %}{% if not forloop.first %}</td> <td>{%endif%} {{ field }}{% endif %}
	    {% endfor %}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    <div style="text-align: center;">
      <button type="submit" class="btn btn-primary">Enregistrer</button>
      <button type="reset" class="btn btn-default">Annuler</button>
    </div>
    {% endif %}
  </div>


  <div class="col-xs-6">
    <table style="width: 100%;" class="table table-striped">
      <caption>Récapitulatif</caption>
      <thead>
	<tr>
	  <th>Effet</th>
	  <th>Modificateurs</th>
	</tr>
      </thead>
      <tbody>
	{% for source in sources %}
	<tr>
	  <td>
	    {{ source }}
	  </td>
	  <td>{% include "stat_line.html" with stats=source.formatted_stats only %}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</form>
{% endblock %}

