<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->

    <link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css" crossorogin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-static-top">
	<div class="container">
	  <div class="navbar-header">
	    <a class="navbar-brand" href="{% url 'index' %}">PF Buffs</a>
	  </div>

	  {% if user.is_authenticated %}
	  <ul class="nav navbar-nav navbar-right">
	    <li><a href="{% url 'admin:index' %}">Administration</a></li>
	    <li><a href="{% url 'logout' %}?next={{ request.get_full_path|urlencode }}">Se déconnecter ({{ user }})</a></li>
	  </ul>
	  {% else %}
	  <ul class="nav navbar-nav navbar-right">
	    <li><a href="{% url 'password_reset' %}" class="navbar-link">Mot de passe oublié&nbsp;?</a></li>
	  </ul>

	  <form method="post" action="{% url 'login' %}" class="navbar-form navbar-right">
	    {% csrf_token %}
	    <input class="form-control" type="text" name="username" placeholder="Nom d'utilisateur" />
	    <input class="form-control" type="password" name="password" placeholder="Mot de passe" />
	    <button type="submit" class="btn btn-default">Connexion</button>
	    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
	  </form>
	  {% endif %}
	</div>
      </nav>
    </header>
    <div class="container-fluid">
      {% block contents %}
      {% endblock %}
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
      $(function () {
  $('[data-toggle="popover"]').popover()
      })
      </script>
  </body>
</html>
